.App {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  background-image: url("https://wallpaper.dog/large/20345785.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.main-page{
}
.home-btn{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  color: #eceacc;
  letter-spacing: 5px;
  text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);
    margin-top: -2vw;
    padding-left: 1vw;
}
.list-btn{
  text-align: center;
  margin-top: 4vw;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  color: #CFC547;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);
    display: flex;
    justify-content: center;
    background-color: rgb(207,197,72, .3);
}
.starship-details{
  text-align: center;
  color: white;
  background-color: rgb(207,197,72, .3)
}
.starship-list{
  text-align: center;
  background-color: rgb(207,197,72, .3);
}
.starships-text{
  text-align: center;
  color: white;
  font-size: 4vw;
  text-decoration: none;
}
.click-text{
  text-align: center;
  margin-top: 4vw;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  color: #CFC547;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);
    display: flex;
    justify-content: center;
    padding-bottom: -5vw;
}